<p id="notice"><%= notice %></p>

<h1>Cart</h1>

<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cart.items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= eur item.price %></td>
<!--      <td><%#= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Continue', new_order_path %>

